section {
    width: 100%;
    margin: 3rem 0rem;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    figure {
        box-shadow: 1px 1px 25px 1px black;
        position: relative;
        width: 80%;
        height: 70vh;
        overflow-y: hidden;
        overflow-x: hidden;
        border-radius: 25px;

        img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            transform: translateY(-96vh);
    
        }

        figcaption {
            
            position: absolute;
            bottom: 0;
            left: 0;
            color: whitesmoke;
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            font-size: 35px;
            padding: 18rem 3rem 1.5rem 3rem;
            background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,0.92) 90%);

            div {
                width: 80%;
                position: absolute;
                bottom: 0;
                p {
                    font-size: 20px;
                }
                h2{
                    margin-bottom: 4px;
                }
            }
        }
    }
}